<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Montserrat:wght@300&family=Noto+Sans&family=Poppins:wght@200&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Montserrat:wght@300&family=Noto+Sans&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans&family=Poppins:wght@200&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="estilos/cuidadoconlaspapasstyle.css">
    
    <title>PatatasWeb Cuidado con...</title>
</head>
<body>
    <header>
        <div id="brand"><a href="index.html"><h2>PatatasWeb<span> Cuidado...</span></h2></a></div>
        <nav>
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="curiosidades.html">Curiosidades</a></li>
            <li><a href="poemasweb.html">POEMAS</a></li>
          </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <ul class="mobile-menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="curiosidades.html">Curiosidades</a></li>
            <li><a href="poemasweb.html">POEMAS</a></li>
          </ul>
        </div>
      </header>

<div class="accordion">
  <div class="accordion-item">
    <div class="accordion-item-header">
        Cuidado con las patatas con brotes o zonas verdes
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Es peligroso consumir patatas con zonas verdes, ya que podría derivar en
         ciertos problemas de salud entre los que destacan las náuseas, 
         vómitos y diarrea. Todo ello como consecuencia de unos tóxicos 
         naturales conocidos como glicoalcaloides, que se acumulan principalmente
          en las zonas de color verde o con brotes.</div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header">
        Las patatas crudas pueden producir la muerte al caballo
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        El almidón de la patata no es digestible para los caballos, ellos no poseen la enzima que hace que el almidón se descomponga en azúcares más básicos
        También las papas contienen toxinas que pueden ser venenosas para los caballos, por lo que los dueños nunca deben alimentarlos con nada que contenga papa o derivados de ella.</p> 
</div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header">
      La obesidad
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        En forma de papa frita, con alto contenido de grasas malas, la papa es uno de los ingredientes principales de la comida chatarra. El efecto que se explicó antes sobre el aumento del azúcar en sangre al comer papa, genera una sensación de hambre, lo que puede provocar comer más. El riesgo es más sobrepeso y obesidad.
<br>
<br>
Otro estudio de Harvard que analizó la dieta de 120.000 hombres y mujeres durante 20 años, comprobó que aquéllos que comían más papas fritas, papas asadas, o en forma de puré (mashed potatoes) ganaron hasta 3,4 libras de peso extra cada cuatro años. Otro trabajo de la universidad la vincula a lecturas más altas de la presión arterial.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header">
        Las personas con diabetes o riesgo de diabetes deben consumir con cuidado.
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        La papa posee un muy alto contenido de carbohidratos, en especial del tipo que se digiere rápido, lo que causa una oleada de insulina y azúcar en sangre. Por eso, es un alimento que las personas con diabetes o riesgo de diabetes deben consumir con cuidado.</p> 
    </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header">
      Envia tu dato y aparecerá aquí
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
          En la seccion de <a href="aporteplageable.html"> Aportes </a> se pueden enviar más datos 
      </div>
    </div>
  </div>
</div>

<script src="js/navresp.js"></script>
<script src="js/cuidadoconlaspapasjav.js"> defer</script>
</body>
</html>