  <%- include('template/cabecera', {tituloweb:'PatatasWeb'} ) %>

  
  <div class="container">
    <div class="backrDOM">
        <div class="container1">
            <div class="texto">
                <h3>LAS PATATAS SON BUENAS</h3>
                <p>La patata, también conocida como papa, es un tubérculo que tiene su origen
                    en Sudamérica pero que, en la actualidad, se cultiva en diversas regiones del planeta.
                    El Solanum tuberosum (denominación de la patata a nivel científico) es uno de los
                    alimentos más importantes para la humanidad.</p>
                    <a href="/patatassabermas"> <button class="button-28" role="button" >Saber Más</button></a>

            </div>
        </div>
    </div>




<div class="cartas">
    
    <a href="recetaspatatas" class="hvr-float animate__animated animate__fadeInUp animate__delay-0.5s animate__fast">
        <div class="imagencarta">

            <img src="images/patacomida.jpg"  alt="">

               <div class="textocarta"><h5>RECETAS</h5></div> 

        </div>
    </a>


    

     
    <a href="curiosidades"  class="hvr-float animate__animated animate__fadeInUp animate__delay-0.5s animate__fast">
        <div class="imagencarta">

        
            <img src="images/patacurio.jpg" alt="">
            
            
            <div class="textocarta"><h5>CURIOSIDADES</h5></div>

                
            
        </div>
    </a>


     
    <a href="cuidadoconlaspapas" id="cartasS" class="hvr-float animate__animated animate__fadeInUp animate__delay-0.5s animate__fast">
        <div class="imagencarta">

        
            <img src="images/patapelig.jpg" alt="">
            
            
            <div class="textocarta"><h5>PELIGROS</h5></div>

                
            
        </div>
    </a>

   
    <a href="aporteplageable" class="hvr-float animate__animated animate__fadeInUp animate__delay-0.5s animate__fast">
        <div class="imagencarta">

        
            <img src="images/mascosas.jpg" alt="">
            
            
            <div class="textocarta"><h5>ENVIAR APORTE</h5></div>

                
            
        </div>
    </a>



    <!-- <div class="card card4">
        <a href="aporteplageable">
        <h5>ENVIAR APORTE</h5>
        <p>Aquí puedes aportar en añadir mas datos a la web</p>
    </a>
    </div> -->
    
</div>

  <%- include('template/footer') %>



</html>