<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilos/poemasestilo.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Montserrat:wght@300&family=Noto+Sans&family=Poppins:wght@200&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Montserrat:wght@300&family=Noto+Sans&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans&family=Poppins:wght@200&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap"
    rel="stylesheet">
    <title>Patatasweb Poemas</title>
</head>
<body>
    <header>
        <div id="brand"><a href="index.html"><h2>PatatasWeb<span> Poemas</span></h2></a></div>
        <nav>
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="curiosidades.html">Curiosidades</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <ul class="mobile-menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="curiosidades.html">Curiosidades</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </header>



      <div class="contenedor">
        <div class="carta">
          <div class="titulo"><p>Si me quieres, quiéreme entera</p></div>

          <div class="texto">Si me quieres, quiéreme entera, <br>
            no por zonas de luz o sombra… <br>
            Si me quieres, quiéreme negra <br>
            y blanca, y gris, verde, y rubia, <br>
            y morena… <br>
            
            Quiéreme día, <br>
            quiéreme noche… <br>
            ¡Y madrugada en la ventana abierta!… <br>
            Si me quieres, no me recortes: <br>
            ¡Quiéreme toda… O no me quieras.
          </div>
          <div class="autor">
            <p>Enviado por <span>Dulce María Loynaz</span></p> 
          </div>
        </div>


        <div class="carta">
          <div class="titulo"><p>El Tiempo Que Pasa</p></div>

          <div class="texto">Tu piel como el amanecer <br>
            la mía como el musgo <br>
            
            Una describe el principio <br>
            de un final innegable. <br>
            
            La otra, el final de un <br>
            principio seguro.
          </div>
          <div class="autor">
            <p>Autor del poema : <span>Maya angelou</span></p> 
          </div>
        </div>


        <div class="carta">
          <div class="titulo"><p>Síndrome</p></div>

          <div class="texto">Todavía tengo casi todos mis dientes <br>

            casi todos mis cabellos y poquísimas canas <br>
            
            puedo hacer y deshacer el amor <br>
            
            trepar una escalera de dos en dos <br>
            
            y correr cuarenta metros detrás del ómnibus <br>
            
            o sea que no debería sentirme viejo <br>
            
            pero el grave problema es que antes <br>
            
            no me fijaba en estos detalles.
          </div>
          <div class="autor">
            <p>Autor del poema : <span>Mario Benedetti</span></p> 
          </div>
        </div>


      </div>
      <a href="aporteplageable.html">
      <div class="botonflotante">
        <img src="./icons/note-svgrepo-com.svg" alt="">
      </div>
      </a>









      
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="js/navresp.js"></script>
      <script src="js/cuidadp.js"> defer</script>
</body>
</html>