@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/backgroudcudado.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  color: #fff;
}

header a{
    color: white;
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
}

header{
    padding: 0 20px;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#brand h2{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 100;
    color: whitesmoke;

}


#brand span{
    font-weight: 1000;
    color: white;

}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }


  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }


h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
    
  border-radius: 50%;
  
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  
}
.accordion-item-header {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  background-position: center;
  background-size: cover;
  
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: 500;
  display: flex;
  
  
  align-items: center;
  position: relative;
  cursor: pointer;
}

.icoytextoorden{
  margin: 0 auto
}

.icoariba{
  margin: 0px 50px;
}


.accordion-item-header p{
  text-align: right;
  text-align: center;
  margin: 0 auto;
}


.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  
  line-height: 1.5rem;
  border-top: 3px solid;
  background-color: #F5F5F5;

}

.accordion-item-header img{
  
  width: 60px;
  height: 60px;
}




  .registration-form{
    position: relative;
    top: 20%;
    left: 5%;
    transform: translate(-50% -50%);
    width: 100%;
    
    
}

form{
  margin-right: 20px;
}

.registration-form p{
    font-size: 15px;
    color: black;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px 0;
    line-height: 3;
}

.registration-form input{
    font-size: 16px;
    padding: 10px 10px;
    width: 95%;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 3rem;
  padding: 10px 10px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}


.registration-form textarea{
    width: 95%;
    border-radius: 5px;
    padding: 10px 10px;
    outline: none;
    border: 0;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }

  body{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/backgroudcudado.jpg);
    background-position: center;
    background-size: cover;
  }
}