
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">

    
    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
    <link rel="stylesheet" href="css/Hover-master/css/hover.css">

  <linkrel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/898a828438.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Montserrat:wght@300&family=Noto+Sans&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Montserrat:wght@300&family=Noto+Sans&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap"
        rel="stylesheet">
    
        <script src="https://unpkg.com/scrollreveal"></script>
    <title><%= tituloweb %> </title>
</head>

<body>

<header>

    <nav class="navbar">
        <div class="brand-title"><h1>Patatas<span>Web</span></h1></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links animate__animated animate__fadeInRight">
          <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="curiosidades">CURIOSIDADES</a></li>
            <li><a href="poemasweb">POEMAS</a></li>
            <li><a href="#" class="button">CONTACTO</a></li>
          </ul>
        </div>
      </nav>


</header>
    </div>







