

<footer>
    <h6>PatatasWeb &copy </h6>
    <p class="textofooter">Las patatas son buenas, no hay nada profundo.</p>

    <ul>
        <div class="iconsli">
            <li><img src="icons/facebook-svgrepo-com.svg" alt=""></li>
            <li><img src="icons/instagram-svgrepo-com.svg" alt=""></li>
        </div>

    </ul>

</footer> 
<script src="js/app.js"></script>

